div.firstDiv{
    min-height: 100vh;
}

a.navbar-brand{
    font-size: 2rem;
}
.nav-link{
    margin-left: 3rem;
}

div#container{
    padding: 5rem 10rem;
    line-height: 3rem;
    margin: 5rem auto;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgb(116, 127, 248);
}